@model Calendar

<div class="calendar">
	Today
	<ul>
		@if (Model.TodaysEvents.Any())
		{
			@foreach (var item in Model.TodaysEvents)
			{
				<li>
					<i class="far fa-calendar"></i>
					@if (!item.IsAllDay)
					{
						<span class="time">@item.StartDate.ToString("h:mm tt")</span>
					}
					&mdash; <span class="summary">@item.Title</span>
				</li>
			}

		}
		else
		{
			<li><em>Nothing else today</em></li>
		}
	</ul>

	@if (Model.UpcomingEvents.Any())
	{
		@:Coming Up
		<ul>
			@foreach (var item in Model.UpcomingEvents)
			{
				<li>
					<i class="far fa-calendar-alt"></i>
					@if (item.IsAllDay)
					{
						<span class="time">@item.StartDate.ToString("dddd")</span>
					}
					else
					{
						<span class="time">@item.StartDate.ToString("dddd @ h:mm tt")</span>
					}
					&mdash; <span class="summary">@item.Title</span>
				</li>
			}
		</ul>
	}
</div>
