@model Weather

<div class="weather">
	<div class="current">
		<span class="temp">@Convert.ToInt32(Model.Current.Temp)&deg;</span>
		<i class="@Model.Current.WeatherConditions[0].IconCssClass fa-4x"></i>
	</div>
	<div class="forecast">
		@for (int i = 0; i < Model.Forecast.Count; i++)
		{
		<div class="day">
			<div class="dayname">@DateTime.Now.AddDays(i + 1).ToString("ddd")</div>
			<i class="@Model.Forecast[i].WeatherConditions[0].IconCssClass fa-2x"></i>
			<div class="temp">@Convert.ToInt32(Model.Forecast[i].Temp.Day)&deg;</div>
		</div>
		}
	</div>
</div>
